<div class="dashboard-container">
  <nav class="navbar">
    <div class="left-section">
      <div class="site-name">
        <a routerLink="/dashboard">Awesome CMS</a>
      </div>
      <ul class="nav-links">
        <li *ngIf="role === 'Admin'">
          <a routerLink="/dashboard/managers" routerLinkActive="active">Managers</a>
        </li>
        <li>
          <a routerLink="/dashboard/employees" routerLinkActive="active">Employees</a>
        </li>
      </ul>
    </div>
    <div class="right-section">
      <button (click)="logout()">Logout</button>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
